@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: "Open Sans";
    font-size: 15px;
    margin: 60px 50px 60px;  
}

p, 
h1,
h2,
h3 {
    color: hsl(192, 100%, 9%);  
}

header {
    margin: auto auto 200px; 
}

header img {
    width: 20%;
}

header button {
    float: right;
    border: 1px solid ;
    font-family: "Open Sans";
    font-weight: 600;
    background-color: #fff;
    color: hsl(321, 100%, 78%);
    width: 100px;
    border-radius: 30px;
    padding: 10px;
}

.header {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Poppins";
}

.header p {
    max-width: 480px;
    font-weight: 600;
    margin: 20px auto auto;
    font-size: 1rem;
}

.header button {
    border: 1px solid ;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: .9rem;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 30px;
    padding: 20px;
    margin-top: 40px;
    width: 300px;
}

.screen-mockups {
    text-align: center; 
    margin: 80px 50px auto;
}

#mockups-image {
    max-width: 100%;
}

.numbers {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 80px 50px auto;
}

.numbers h2 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0px;
}

.numbers p {
    margin: 0;
    margin-top: 15px;
    font-weight: 400;
    text-align: center;
}

.community {
    margin-right: 20px;
}

#community-image {
    width: 35px;
}

#messages-image {
    width: 35px;
}

.messages p {
    text-align: center;
} 

.grow-together {
    display: flex;
    justify-content: space-around;
    margin: 200px 50px 200px;
}

#grow-together-text {
    max-width: 460px;
    align-self: center; 
    margin-right: 20px;
} 

#grow-together-text h3 {
    font-family: "Poppins";
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#grow-together-image {
    max-width: 40%;
}

#grow-together-text p {
    font-weight: 600;
}

.flowing-conversation {
    display: flex;
    justify-content: space-around;
    margin: auto 50px 200px;
}

.flowing-conversation h3 {
    font-family: "Poppins";
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#flowing-conversation-text {
    max-width: 480px;
    align-self: center;
    margin-left: 20px;
}

#flowing-conversation-image {
    max-width: 40%;
}

#flowing-conversation-text p {
    font-weight: 600;
}

.your-user {
    display: flex;
    justify-content: space-around;
    margin: auto 50px 200px;
}

.your-user h3 {
    font-family: "Poppins";
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#your-user-text {
    max-width: 480px;
    align-self: center;
    margin-right: 20px;
}

#your-user-text p {
    font-weight: 600;
}

#your-user-image {
    max-width: 40%;
}

.get-started {
    text-align: center;
    margin: auto 50px 200px;
}

.get-started h3 {
    font-size: 2.5rem;
    font-family: "Poppins";
    margin: auto auto 30px;
}

.get-started button {
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    padding: 30px;
    border-radius: 40px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1rem;
    width: 350px;
    cursor: pointer;
}

.footer {
    display: flex;
    margin: auto 30px auto;
    justify-content: space-between;
    height: 500px;
}

footer p {
    line-height: 1.4;
}

#contact {
    max-width: 320px;
    margin-right: 20px;
}

#footer-logo {
    max-width: 70%;
    margin-bottom: 20px;
}

.phone {
    display: flex;
    margin: 20px 0 20px;
}

#phone-icon {
    padding-right: 10px;
}

.email {
    display: flex;
}

#email-icon {
    padding-right: 10px;
}

.social-links {
    margin-top: 50px;
}

.social-links img {
    display: inline;
    width: 35px;
}

#instagram-icon {
    margin: 0 25px 0;
    height: 35px;
}

.newsletter {
    width: 500px;
}

.newsletter h3 {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.newsletter p {
    max-width: 350px;
}

input {
    width: 100%;
    height: 50px;
    margin: 0 30px auto auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
}


.newsletter button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-family: "Open Sans";
    font-size: .9rem;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}

button {
    cursor: pointer;
}

#newsletter-button {
    display: flex;
    margin-top: 30px;
}


@media (max-width: 700px) {
    body {
        margin: 50px 30px 50px;
    }

    header img {
        width: 100px;
    }

    header button {
        width: 30%;
        padding: 5px;
        font-weight: 400;
    }

    .header h1 {
        font-size: 1.6rem;
    }

    .header button {
        width: 200px;
        padding: 15px;
        margin-top: 50px;
    }

    .screen-mockups {
        margin: 100px 0 auto;
    }

    .numbers {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }

    .community {
        margin: auto 0 120px;
    }

    .grow-together {
        flex-direction: column-reverse;
        margin: 300px 0 300px;
        text-align: center;
    }

    #grow-together-image {
        max-width: 600px;
    }
    
    #grow-together-text {
        margin-right: 0;
    }

    #grow-together-text h3 {
        font-size: 1.6rem;
        margin-top: 60px;
    }

    .flowing-conversation {
        flex-direction: column;
        text-align: center;
        margin: auto 0 300px;
    }

    .flowing-conversation h3 {
        font-size: 1.6rem;
        margin-top: 60px;
    }

    #flowing-conversation-image {
        max-width: 600px;
    }

    .your-user {
        flex-direction: column-reverse;
        margin: 300px 0 300px;
        text-align: center;
    }

    #your-user-text {
        margin-right: 0;
    }

    #your-user-text h3 {
        font-size: 1.6rem;
        margin-top: 60px;
    }

    #your-user-image {
        max-width: 600px;
        
    }

    .get-started {
        margin: 0 0 300px;
    }

    .get-started h3 {
        font-size: 1.8rem;
    }

    .get-started button {
        max-width: 60%;
        padding: 15px;
        font-weight: 400;
        font-size: .8rem;
    }
    
    .footer {
        flex-direction: column-reverse;
        margin: auto 0;
        align-items: center;
    }

    .newsletter {
        width :auto;
        margin-bottom: 100px;
    }

    input {
        margin: 30px 0 10px;
    }

    #newsletter-button {
        flex-direction: column;
        max-width: 350px;
    }

    .newsletter button {
        align-self: flex-end;
    }
}

